/*** generics ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.2rem;
    background-color: black;
}

img {
    width: 100%;
}

button {
    border: none;
}


/*** utilities ***/
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

/*** content ***/

/* header */
header {
    justify-content: flex-end;
}

header button {
    margin: 5px;
    padding: 7px;
    background-color: #4a4a4a;
    border: none;
    border-radius: 7px;
    color: white;
}



/* main */



/* footer */
footer {
    background-color: #222222;
    justify-content: space-between;
}

footer button {
    font-size: 22px;
    padding: 5px;
    background-color: #222222;
    color: white;
}

footer p {
    font-size: 10px;
}

#angle-up {
    font-size: 10px;
}

#bg-green {
    color: #4bc800;
}

.exit-action {
    width: 131.25px;
    align-items: center;
    justify-content: flex-end;
}

.exit-action button {
    background-color: #4a4a4a;
    color: red;
}


.exit-action p {
    padding: 12px 20px;
}